body {
    background-color: darkslategray;
    color: crimson;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}

.logo {
    height: 80px;
    width: auto;
}

.settings {
    height: 60px;
    width: auto;
}

@media (max-width: 768px) {
    body {
        text-align: left;
        padding: 10px;
    }

    .logo {
        height: 80px;
    }

    .settings {
        height: 60px;
        width: auto;
    }

    .header {
        gap: 10px;
    }
}